version: '3.8'
services:
  app:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - mongodb
    env_file:
      - .env

  mongodb:
    image: mongo:latest
    container_name: mongodb_gastos
    ports:
      - "27017:27017"
    volumes:
      - ./data:/data/db